<%- include("../partials/head.ejs") %>
<body>
    <main>
        <h1 class="add">Add An Animal</h1>
        <div class="new">
            <form action="/animals" method="post">
                <fieldset>
                    <label>
                      Species: <input
                        type="text"
                        name="species"
                        placeholder="Enter animal name"
                      />
                    </label>
                    <label>
                      Extinct: <input
                        type="checkbox"
                        name="extinct"
                      />
                    </label>
                    <label>
                      Location: <input type="text" name="location"
                      placeholder="Enter Location"
                     />
                    </label>
                    <label>
                      Life Expectancy: <input type="text" name="lifeExpectancy"
                      placeholder="Enter Life Expectancy"
                      />
                    </label>
                  </fieldset>
                  <input type="submit" value="Add new animal"/>
                  <a href="/animals"><button>Back to Main Page</button></a>
            </form>
        </div>
    </main>
</body>
</html>